target


src/eknpc/log.txt

# vscode config folder
.vscode
 

# renpy spec

*-dists
traceback.txt
game/cache/*
game/script.rpy
game/images/*
game/audio/*

**/*.rpym
**/*.rpa
**/*.rpyc

*.txt
*.save
game/saves/*

game/tl/None/common.rpymc
