/target


/src/eknpc/log.txt

# vscode config folder
.vscode
 

# renpy spec

/src/*-dists
/src/eknpc/traceback.txt
/src/eknpc/game/cache/*
src/eknpc/game/script.rpy
/src/eknpc/game/images/*
/src/eknpc/game/audio/*

**/*.rpym
**/*.rpa
**/*.rpyc

*.txt
*.save
src/eknpc/game/saves/*

